:root{
    --genui-bg: linear-gradient(
        90deg,
        rgba(21, 25, 45) 0%,
        rgba(87, 23, 135) 100%
    );
    --genui-color:white;
    --bg-primary:rgba(21, 25, 45);
    --bg-secondary:rgba(60, 29, 97);
    --bg-soft:rgba(87, 23, 135);
}
*{
    margin: 0;
    padding: 0;
    font-family: "Playwrite NZ Basic", cursive;
}
header{
    background-color: rgba(23, 25, 49);
}
nav li{
    list-style: none;
}

nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 9vh;
}
nav li{
    padding: 0 12px;
    color: rgba(118, 31, 194, 0.688);
}
.c1{
    padding-right: 500px;
    color: aliceblue;
    font-weight: bolder;
    font-size: larger;
}
nav li:hover{
    font-weight:500;
    color: rgb(139, 24, 247);
    cursor: pointer;
}
main{
    height: 230vh;
}
footer{
    height: 10vh;
    background-color: rgba(23, 25, 49);
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(118, 31, 194, 0.688) ;
    /* color: aliceblue; */
}
main{
    margin: 0;
    padding: 0;
    background: linear-gradient(
        90deg,
        rgba(21, 25, 45) 0%,
        rgba(87, 23, 135) 100%
    );
}
main{
    display:flex;
    justify-content: center;
    /* align-items: center; */
} 
main .info{
    height: 500px;
    width: 70vw;
    background: linear-gradient(
        180deg,
        rgba(60, 29, 97, 0) 0%,
        rgba(87, 23, 135) 100%
    );
    backdrop-filter: blur(20px);
    border-radius: 20px;
    border: 1px solid rgba(159, 52, 70, 0.274);
    box-shadow: 0px 8px 10px rgba(0,0,0,0.25);

}
.name{
    color:aliceblue;
    font-size: 28px;
    padding-left: 25px;
    padding-top: 30px;
}
.oneline{
    color: rgb(220, 20, 170);
    font-size: 18px;
    padding-left: 25px;
    padding-top: 5px;
}
.location{
    color: rgba(163, 89, 228, 0.688);
    padding-left: 25px;
    font-size: 16px;
    padding-top: 10px;
}
.container{
    color: antiquewhite;
    padding-left: 25px;
    padding-top: 17px;
}
.logo{
    padding-left: 25px;
    padding-top: 17px;
    color:  rgb(197, 17, 152);
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
}
.logo img{
    background: radial-gradient(
        ellipse at 40% 50%,
        rgb(201, 22, 156),
        transparent 60%
    );
    border-radius: 10px 10px;
    padding-right: 13px;
}
.logo a{
    color:rgb(129, 17, 215); ;
    text-decoration: none;
    font-size: 17px;
}
.logo a:hover{
    font-weight:500;
    color: rgb(242, 54, 201);
    cursor: pointer;
}
.logo img::before{
    position: absolute;
    cursor: pointer;
    background: radial-gradient(
        ellipse at 40% 50%,
        rgb(242, 54, 201),
        transparent 60%
    );
}
.omkar{
    width:45vw;
    height: 500px;
    display: inline block;
}
.photo{
    background-image: url("omkar.jpeg");
    background-repeat: no-repeat;
    width: 25vw;
    height: 500px;
    background-position: right;
    background-size: contain;
    /* display: inline-block; */
    display: flex;
    flex-direction: column;
    justify-content: right;
    border-radius: 0 20px 20px 0;
    box-shadow: 10px 8px 10px 0px rgba(0,0,0,0.25);
    clip-path: polygon(20% 0%,100% 0%, 100% 100%, 0% 150%);
}
.info{
    display: flex;
    position: absolute;
    top: 120px;
}
h3{
    font-weight: bolder ;
    text-decoration: underline;
    /* font-family: "Playwrite CU Guides", cursive; */
}
.title{
    font-weight: bolder ;
    text-decoration: underline;
    padding-top: 14px;
    font-size: 18px;
    /* font-family: "Playwrite CU Guides", cursive; */
}
main .tech{
    color: aliceblue;
    position: absolute;
    top:700px;
}
.frontend{
    height: 300px;
    width: 14vw;
    background: linear-gradient(
        180deg,
        rgba(60, 29, 97, 0) 0%,
        rgba(87, 23, 135) 100%
    );
    backdrop-filter: blur(20px);
    border-radius: 20px;
    border: 1px solid rgba(159, 52, 70, 0.274);
    box-shadow: 0px 8px 10px rgba(0,0,0,0.25);
    position: absolute;
    top: 100px;
    left: -440px;
}
.second{
    height: 300px;
    width: 12vw;
    background: linear-gradient(
        180deg,
        rgba(60, 29, 97, 0) 0%,
        rgba(87, 23, 135) 100%
    );
    backdrop-filter: blur(20px);
    border-radius: 20px;
    border: 1px solid rgba(159, 52, 70, 0.274);
    box-shadow: 0px 8px 10px rgba(0,0,0,0.25);
    position: absolute;
    top: 100px;
    left: -42px;
}
.third{
    height: 300px;
    width: 14vw;
    border-radius: 20px;
    border: 1px solid rgba(159, 52, 70, 0.274);
    box-shadow: 0px 8px 10px rgba(0,0,0,0.25);
    position: absolute;
    top: 100px;
    left: 310px;
    /* background: cover; */
    /* height: 30px; */ 
}
.third img{
    border-radius: 20px;
    border: 1px solid rgba(159, 52, 70, 0.274);
    box-shadow: 0px 8px 10px rgba(0,0,0,0.25);
}
.second img{
    border-radius: 20px;
    border: 1px solid rgba(159, 52, 70, 0.274);
    box-shadow: 0px 8px 10px rgba(0,0,0,0.25);
}
.frontend img{
    border-radius: 20px;
    border: 1px solid rgba(159, 52, 70, 0.274);
    box-shadow: 0px 8px 10px rgba(0,0,0,0.25);
}
main .valentine{
    height: 400px;
    width: 70vw;
    background: linear-gradient(
        90deg,
        rgba(230, 0, 114) 0%,
        rgba(227, 0, 17)100%
    );
    backdrop-filter: blur(20px);
    border-radius: 20px;
    border: 1px solid rgba(159, 52, 70, 0.274);
    box-shadow: 0px 8px 10px rgba(0,0,0,0.25);
    position: absolute;
    top:1200px;
}
.valentine h1{
    color: aliceblue;
    display: flex;
    justify-content: center;
    /* position: absolute;
    top:80px; */
    padding-top: 80px;
}
.last{
     color: aliceblue;
    display: flex;
    justify-content: center;
    /* position: absolute;
    top:180px; */
    font-size: 18px;
    padding: 60px 133px;
}
.btn1{
    color: rgb(229, 255, 0);
    height: 55px;
  width: 300px;
    background: linear-gradient(
        90deg,
        rgba(60, 29, 97, 0) 0%,
        rgba(87, 23, 135) 100%
    );
    backdrop-filter: blur(20px);
    border-radius: 20px;
    border: 1px solid rgba(159, 52, 70, 0.274);
    box-shadow: 0px 8px 10px rgba(0,0,0,0.25);
    display: flex;
    position: absolute;
    left: 370px;
    transition: 0.1s ease;
}
.content{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 55px;
}
.btn1:hover{
    background: radial-gradient(
        ellipse,
        #FFF685
    );
    font-size: 18px;
    color:crimson;
    font-weight: bolder;
    width: 320px;
    cursor: pointer;
    
}
html, body{
    background-color:linear-gradient(
        90deg,
        rgba(21, 25, 45) 0%,
        rgba(87, 23, 135) 100%
    ); 
    color: aliceblue;
    height: 100%;
}